
{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="center">Welcome to Journal50</h1>
    <hr>
    <h3 class="center">Your Virtual Journal</h3>


    <h5><b>About Us</b></h5>

    <body>
        Our Goal is to facilitate postive reflection through daily journaling and questions.
        We hope that users can jot down a few important notes or takeaways from each day.
        Some of the many advantegous of journaling:
        <ul>
            <li>
                Manage Stress and Anxiety
            </li>
            <li>
                Structure Your Day
            </li>
            <li>
                Relax
            </li>
            <li>
                Improves Mood
            </li>
            <li>
                Develop Self-Esteem and Gratitude
            </li>
        </ul>
    </body>

    <h5><b>Meet Our Team</b></h5>

    <body>
        <b>Founder:</b> Darran Shivdat
        <br>
        Rising Senior at Stratford Academy, Macon, GA
    </body>



{% endblock %}